version: "3.3"
services:
    dtm:
        image: yedf/dtm:1.19
        container_name: dtm
        entrypoint: ["/app/dtm/dtm", "-c", "/app/dtm/config.yaml"]
        privileged: true
        restart: on-failure
        volumes:
            - './dtm/config.yaml:/app/dtm/config.yaml'
        ports:
            - '36789:36789'
            - '36790:36790'
        networks:
            - 'microservice'
    kibana:
        container_name: kibana
        image: docker.elastic.co/kibana/kibana:8.18.8
        restart: on-failure
        privileged: true
        ports:
            - '5601:5601'
        networks:
            - 'microservice'
        volumes:
            - './kibana/kibana-local.yml:/usr/share/kibana/config/kibana.yml'
            - '/var/lib/kibana:/usr/share/kibana/data'
#            - '/var/log/kibana:/usr/share/kibana/logs'
networks:
    microservice:
        external: true
